src/schemas/groupSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="groups">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="group" type="Group" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
			
	<xs:complexType name="Group">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="values" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>